RRDFILE=temphum.rrd
ARCH=archivedCSV/
s3Bucket="myRainBushel"
fileName="temperatureGraph.png"
fileNameWk="temperatureGraph-weekly.png"
pathToFile="/var/www/html/img"
contentType="image/png"
contentTypeVideo="video/mp4"
s3AccessKey="Your accesskey from the AWS console"
s3SecretKey="Your secretkey from the AWS console"
wyzeip=10.0.0.yourCamIp
wyzeuser=fromAppRtspMenu
wyzepass=seeAbove
wyzeFileName=wyze.jpg
maxRetry=5
minWyzeSize=200000000
tlTemp=/tmp/timeLapse
timelapse=timelapse.jpg
timelapseVideo=timelapse.mp4
